@import '~ant-design-vue/es/style/themes/default.less';

.ant-form-item-label, .ant-form-item-control {
  line-height: 32px;
}

.ant-table-thead > tr > th {
  border-top: 1px solid #e8e8e8;
}
.ant-table-thead > tr > th:first-child {
  border-left: 1px solid #e8e8e8;
}
.ant-table-thead > tr > th:last-child {
  border-right: 1px solid #e8e8e8;
}

.error-text {
  color:@error-color;
}

// 搜索表格label固定宽度
.table-page-fw-search-wrapper {
  .ant-form-inline .ant-form-item > .ant-form-item-label {
    width: 80px;
  }
}